@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
  font-size: 62.5%;
}

/* Color Palette */
:root {
  --color-primary: hsl(183, 100%, 15%);
  --color-secondary: hsl(186, 14%, 43%);
  --color-accent: hsl(189, 41%, 97%);

  --color-highlight: hsl(172, 67%, 45%);

  --color-body-bg: hsl(185, 41%, 84%);
  --color-calculator-bg: hsl(0, 0%, 100%);
  --color-input-bg: hsl(184, 14%, 56%);
}

/* Typography */
body {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
}

input {
  font-size: 2.4rem;
}

::placeholder {
  font-size: 2.6rem;
  text-align: end;
  color: var(--color-input-bg);
}

#custom::placeholder {
  text-align: center;
}

.calculator > label {
  position: relative;
  font-size: 1.4rem;
  color: var(--color-secondary);
}

/* Global */
body {
  background: url(/images/logo.svg) no-repeat 50% 4.5%;
  background-color: var(--color-body-bg);
}

/* Calculator */
form {
  margin-top: 13rem;
  height: auto;
  padding: 2.5rem;
  background-color: var(--color-calculator-bg);
  border-radius: 20px;
}

.calculator {
  border: none;
  margin: 0;
  padding: 0;
}

input {
  margin-top: 0.5rem;
}

input[type="number"] {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  text-align: end;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: var(--color-primary);
  background-color: var(--color-accent);
  outline-color: var(--color-highlight);
}

input[type="radio"] {
  display: none;
}

#bill,
#people {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

label[for="bill"]::before,
label[for="people"]::before {
  position: absolute;
  content: url(/images/icon-dollar.svg);
  top: 4.34rem;
  left: 1.6rem;
}

label[for="people"]::before {
  content: url(/images/icon-person.svg);
}

.tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.tips label {
  text-align: center;
  height: 5rem;
  position: relative;
}

.tips span {
  position: absolute;
  inset: 0;
  border-radius: 5px;
  font-size: 2.6rem;
  color: var(--color-accent);
  background-color: var(--color-primary);
  padding: 1rem;
}

input[type="radio"]:checked + span {
  color: var(--color-primary);
  background-color: var(--color-highlight);
}

/* Result */
.result {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  border: none;
  border-radius: 15px;
  font-size: 1.4rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.tip-amount,
.total {
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

.text {
  line-height: 2.5ch;
}

.text::first-line {
  font-size: 1.6rem;
  color: var(--color-accent);
}

.amount {
  font-size: 3.2rem;
  color: var(--color-highlight);
}

button[type="reset"] {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  color: var(--color-primary);
  background-color: var(--color-highlight);
  filter: opacity(0.1);
}

@media screen and (min-width: 700px) {
  body {
    background-position: 50% 6.5%;
  }

  form {
    max-width: 1000px;
    margin: 5rem auto;
    margin-top: 15%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  #people {
    margin-bottom: 0;
  }

  .result {
    padding: 6rem 4rem 3rem;
  }

  .amount {
    font-size: 5rem;
  }

  button[type="reset"] {
    margin-top: auto;
  }
}
